#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.begin {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin:0;
}

body{
    background:white;
}

div {
    display:block;
    margin: 0;
}
* {
    margin:0;
    padding:0;
    }

.cover-page{
    height:100vh;
    justify-content:center;
    align-items:center;    
    color:white;
    scroll-snap-align:start;
    padding:0vh;
    display:flex;
    border:none;
    }

.secondary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border-radius: 1vh;
      }

.name {
    font-size: 10vh;
    text-align:center;
    color:white;
}

body {
	background: linear-gradient(-45deg, #8EC5FC, #E0C3FC, #23d5ab, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 16s ease infinite;
	height: 100vh;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}

.library-page{
    height:100vh;
    justify-content:center;
    align-items:center;    
    color:white;
    scroll-snap-align:start;
    padding:0vh;
    display:flex;
    border:none;
}

.section-head {
    font-size: 5vh;
    text-align:center;
    color:white;
}

a {
    color:white;
}

textarea {
    font-family: 'Roboto';
    font-size:1.5vh;
}

p {
    font-size:2vh;
}

.basicbutton{
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
    margin: 3px 1.5px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.button1 {
    background-color: #8EC5FC;
    color: white;
  }

.button1:hover {
    background-color: white; 
    color: #23d5ab; 
    border: 1px solid #23d5ab;
}

